body {
  font-size: 15px;
   font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
   background-image: url(../img/background_tile.jpg)
}

h1, h2, h3, h4, h5, h6 {
    font-family: museo-slab,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

@font-face {
  font-family: 'museo-slab';
  src: url('font/museo_slab_300-webfont.eot');
  src: url('font/museo_slab_300-webfont.eot?#iefix') format('embedded-opentype'),
      url('font/museo_slab_300-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo-slab';
  src: url('font/museo_slab_500-webfont.eot');
  src: url('font/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
      url('font/museo_slab_500-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'proxima-nova';
  src: url('font/proximanova-webfont.eot');
  src: url('font/proximanova-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/proximanova-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-size:20px;
}

h2 {
  font-size:26px;
}

.container {
  background-color:white;
  padding:0 20px;
}

.masthead h1, .masthead p {
    text-align: center;
}
.masthead h1 {
    margin-bottom: 18px;
}
.jumbotron h1 {
    font-size: 81px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 9px;
    text-shadow: 2px 2px #fff;
}

.jumbotron .btn-large {
    border-radius: 6px 6px 6px 6px;
    font-size: 20px;
    font-weight: normal;
    margin-right: 10px;
    padding: 14px 24px;
    color:white;
}

.masthead p {
    font-size: 30px;
    line-height: 36px;
    margin-left: 5%;
    margin-right: 5%;
}

.jumbotron p {
    font-weight: 300;
    margin-bottom: 18px;
    text-shadow: 2px 2px #fff;
}

.inner {
  border-radius: 0px 0px 15px 15px;
  background-color:#e6e6e6;
  padding: 25px 8px;
}

.marketing h1, .marketing h2, .marketing h3 {
  text-shadow: 1px 1px 2px #000 ;
}

.marketing {
  line-height:20px;
}

.marketing h2 {
  line-height:40px;
}

.marketing h3 {
  line-height:32px;
}


/* Quick links
-------------------------------------------------- */
.bs-links {
 margin: 15px 0;
}
.quick-links {
 min-height: 30px;
 margin: 0;
 padding: 5px 20px;
 list-style: none;
 text-align: center;
 overflow: hidden;
}
.quick-links:first-child {
 min-height: 0;
}
.quick-links li {
 display: inline;
 margin: 0 8px;
 color: #999;
}
.quick-links .github-btn,
.quick-links .tweet-btn,
.quick-links .follow-btn {
 position: relative;
 top: 5px;
}

.marketing h1 {
  font-size: 40px;
  font-weight: 300;
  margin: 36px 0 27px;
  text-align: center;
}

.marketing .row {
  margin-bottom:25px;
}

i {
  float: left;
  margin-right: 5px;
  margin-top: 6px;
}

.span4 i {
  margin-top: 9px;
}

/* Responsive Docs
-------------------------------------------------- */
@media (max-width: 480px) {

  /* Reduce padding above jumbotron */
  body {
    padding-top: 70px;
  }

  /* Change up some type stuff */
  h2 {
    margin-top: 27px;
  }
  h2 small {
    display: block;
    line-height: 18px;
  }
  h3 {
    margin-top: 18px;
  }

  /* Adjust the jumbotron */
  .jumbotron h1,
  .jumbotron p {
    text-align: center;
    margin-right: 0;
  }
  .jumbotron h1 {
    font-size: 45px;
    margin-right: 0;
  }
  .jumbotron p {
    margin-right: 0;
    margin-left: 0;
    font-size: 18px;
    line-height: 24px;
  }
  .jumbotron .btn {
    display: block;
    font-size: 18px;
    padding: 10px 14px;
    margin: 0 auto 10px;
  }
  /* Masthead (home page jumbotron) */
  .masthead {
    padding-top: 0;
  }

  .inner {
    padding: 15px 8px;
  }

  /* Don't space out quick links so much */
  .quick-links {
    margin: 20px 0 0;
  }
  /* hide the bullets on mobile since our horizontal space is limited */
  .quick-links .divider {
    display: none;
  }


}


@media (max-width: 768px) {

  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  /* Jumbotron buttons */
  .jumbotron .btn {
    margin-bottom: 10px;
  }

  .marketing .row {
    margin-bottom:0px;
  }

  h2, h3 {
      margin-top: 6px;
  }

  h2 {
      font-size: 20px;
  }


}


@media (min-width: 480px) and (max-width: 768px) {

  /* Scale down the jumbotron content */
  .jumbotron h1 {
    font-size: 54px;
  }
  .jumbotron p {
    margin-right: 0;
    margin-left: 0;
  }

}


@media (min-width: 768px) and (max-width: 980px) {

  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  /* Scale down the jumbotron content */
  .jumbotron h1 {
    font-size: 72px;
  }

}


@media (max-width: 980px) {

  /* Unfloat brand */
  .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Inline-block quick links for more spacing */
  .quick-links li {
    display: inline-block;
    margin: 5px;
  }

}

